body {
	background-color: #f6f6f7;
	margin:0px;
}


#menu {
	background-color: #ebf5fc;
	height:50px;
	position: fixed;
	top:0px;
	width:100%;
}

#left {
	background-color: #ebf4f3;
	height:1500px;
	width: 25%;
	float: left;
	margin-top:50px;

}

#left .sock h3
{
	padding:20px;
}

#left .sock ul{
	margin:0px;
	padding:0px;
	list-style-type: none;
}

#left .sock ul li {
	padding: 20px;
	border-top:1px solid #CCCCCC;
}

#left .sock ul li:hover  {
	background-color: #dcf1ee;
	cursor:pointer;
}

#right {
	background-color: #fffded;
	height:1500px;
	width: 75%;
	float: right;
	margin-top:50px;
}

#footer {
	background-color: #ececec;
	height:35px;
	clear:both;
	position:fixed;
	bottom:0px;
	width:100%;
}